NEXT_PUBLIC_APP_URL=http://localhost:3000
CLIENT_URL=http://localhost:3000

MONGODB_URI=mongodb://admin:144169@ac-nwzaq01-shard-00-00.ebqnyaj.mongodb.net:27017,ac-nwzaq01-shard-00-01.ebqnyaj.mongodb.net:27017,ac-nwzaq01-shard-00-02.ebqnyaj.mongodb.net:27017/?ssl=true&replicaSet=atlas-d0f7yf-shard-0&authSource=admin&appName=MediQueueCluster
MONGODB_DB=coursenest

JWT_SECRET=my_secret_jwt_key_123
COOKIE_SAMESITE=lax

ADMIN_EMAIL=admin@coursenest.dev
ADMIN_PASSWORD=Admin@12345
ADMIN_NAME=CourseNest Admin

NEXT_PUBLIC_DEMO_ADMIN_EMAIL=admin@coursenest.dev
NEXT_PUBLIC_DEMO_ADMIN_PASSWORD=Admin@12345
NEXT_PUBLIC_DEMO_USER_EMAIL=learner@coursenest.dev
NEXT_PUBLIC_DEMO_USER_PASSWORD=Learner@12345